.container {
    background-color: rgb(231, 231, 231);
}

.line {
    stroke: #603c70;
    stroke-width: 2;
    stroke-dasharray: 3 6;
}

.value-text {
    color: red;
}
.menu {
    margin: 2rem;
    display: flex;
    justify-content: center;
}
button {
    border: none;
    margin: 1rem;
    background-color: #35659b;
    color: rgb(224, 224, 224);
    padding: 0.2rem 1rem;
    cursor: pointer;
}